<div class="container mt-5" style="text-align: center;">
    <h4 style="color: #9b9b9b;">Todos los campos son obligatorios</h4>
    <form [formGroup]="form" (ngSubmit)="buscarCliente()">
      <div class="form-group">
        <!-- <label for="tipoDocumento" style="color: blue">Tipo de Documento</label> -->
        <br>
        <select formControlName="tipoDocumento" class="form-control" >
          <option value="" disabled selected>Seleccione...</option>
          <option value="C">Cédula de Ciudadanía</option>
          <option value="P">Pasaporte</option>
        </select>
      </div>
      <br>
      <div class="form-group">
        <!-- <label for="numeroDocumento" style="color: blue">Número de Documento</label> -->
        <br>
        <input formControlName="numeroDocumento" type="number" class="form-control"  
          placeholder="Ingrese documento" (ngModelChange)="formatNumeroDocumento()">
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Buscar</button>
    </form>
  </div>
